  <!DOCTYPE html>
  <html>
  <head>
  <style>
  body {
    background-color: light pink;
  }

  h1 {
    color:blanchedalmond;
    text-align: center;
  }

  p {
    font-family: Serif;
    font-size: 15px;
  }
  </style>
  </head>
  <body>

  <h1>My 2024 Summer To-Do List:</h1>
  <p>Where and who am I spending my summer with?</p>

  </body>
  </html>