
body {
  background-color: light rgb(255, 207, 215);
}

h1 {
  color:rgb(123, 207, 220);
  text-align: center;
}

p {
  font-family: Serif;
  font-size: 15px;
}

#my-header {
  background-color:rgb(255, 204, 231);
  padding: 45px text-align: center;
}
